asgiref
astroid
certifi
charset-normalizer
colorama
crispy-bootstrap5
dill
distlib
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-humanize
django-multiselectfield
djangorestframework
filelock
humanize
idna
isort
Markdown
mccabe
pillow
platformdirs
psycopg2-binary
pylint
pylint-django
pylint-plugin-utils
pytube
requests
sqlparse
tomlkit
typing_extensions
tzdata
urllib3
virtualenv
yt-dlp
whitenoise